<a href="https://colab.research.google.com/github/mayanrajesh/Programming_MS/blob/main/14_12_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#WAP to build a HR system with the help of databases This program
#would input all the demographics details such as age gender,name,experience, tools,salary and remarks he/she knows etc. of the employees.
#second half view: 
#1. manager want to see your demographic details -it will only show experiance,salary and tools
#2. you want to see your details , it should show all the details except remarks.

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
import sqlite3
import pandas as pd
db = sqlite3.connect("HR_database.db")
db.execute("drop table if exists results")
try:
  db.execute("create table HR(Name text, Age text,Gender text, Experience text, Tool_exp text, Remarks text)")
except:
  print("Already table existed !!")

In [ ]:
def emp_input():
  db = sqlite3.connect("HR_database.db")
  print('Enter employee details.')
  name=input('Enter Employee name: ')
  age=input('Enter age: ')
  gender=input('Enter Gender: ')
  exp=input('Enter total Experience: ')
  tool=input('Enter tools details: ')
  remark=input('Enter Employee remarks: ')
  cmd = "insert into HR(Name, Age, Gender, Experience, Tool_exp, Remarks) values('{}','{}','{}','{}','{}','{}')".format(name,age,gender,exp,tool,remark)
  db.execute(cmd)
  db.commit()

def emp_view():
  db = sqlite3.connect("HR_database.db")
  name=input('Enter your name: ')
  result = db.execute('SELECT Name,Age,Gender,Experience,Tool_exp FROM HR WHERE name ="{}"'.format(name) )
  emp=[]
  for x in result:
    emp.append(x)
    data=pd.DataFrame(emp)
    data.columns=['Name','Age','Gender','Exp','Tool']
  print(data)

def HR_view():
  db=sqlite3.connect("HR_database.db")
  name=input('Enter Employee name:')
  result=db.execute('SELECT Name,Age,Gender,Experience,Tool_exp,remarks FROM HR WHERE name ="{}"'.format(name) )
  view=[]
  for x in result:
    view.append(x)
    data=pd.DataFrame(view)
    data.columns=['Name','Age','Gender','Exp','Tool','Remark']
  print(data)

    #print (pd.DataFrame(x,columns=['Name','age','Gender','Exp','Tool','remark']))

def main():
  print('1. Add Employee Entry.')
  print('2. Employee View.')
  print('3. HR View.')
  print('4. Quit.')

choice = 0                                                                      
main()
while choice != 4:
  choice = int(input("\nSelect the above choice(1-4) : "))
  if choice==1:
    emp_input()
  elif choice==2:
    emp_view()
  elif choice==3:
    HR_view()
  elif choice==4:
    print('Thank you')
  elif choice!=4:
    main()

1. Add Employee Entry.
2. Employee View.
3. HR View.
4. Quit.

Select the above choice(1-4) : 3
Enter Employee name:rajesh
     Name Age Gender Exp         Tool Remark
0  rajesh  23   male   5         ssrs     ok
1  rajesh  24   male   3  informatica   good

Select the above choice(1-4) : 2
Enter your name: ram
  Name Age Gender Exp  Tool
0  ram  27      m   3  ssas

Select the above choice(1-4) : 4
Thank you

In [ ]:
import pandas as pd
def emp_view():
  db = sqlite3.connect("HR_database.db")
  name=input('Enter your name: ')
  result = db.execute('SELECT Name,Age,Gender,Experience,Tool_exp FROM HR WHERE name ="{}"'.format(name) )
  emp=[]
  for x in result:
    emp.append(x)
    a=pd.DataFrame(emp)
    a.columns=['Name','age','gender','exp','tool']
  print(a)
  
emp_view()

Enter your name: sita
   Name age  gender exp           tool
0  sita  22  Female   2  visual studio

In [ ]:
db = sqlite3.connect("HR_database.db")
sqlq = "SELECT COUNT(1) FROM HR WHERE name = 'rajesh'"
db.execute(sqlq)
if db.fetchone()[0]:
  print('records exist')
else:
  print('records doesnt exist')
    # exists

AttributeError: ignored

In [ ]:
import pandas as pd
def emp_view():
  db = sqlite3.connect("HR_database.db")
  name=input('Enter your name: ')
  result = db.execute('SELECT count(*) FROM HR WHERE name ="{}"'.format(name) )
  #for x in result:
  #  print(x)

  if result ==0:
    print('records not exist')
  else:
    print('record  available')
emp_view()

Enter your name: RAJNISH
record  available

In [ ]:
user=input('enter name: ')
for name in (user): 
  cursor.execute("SELECT rowid FROM HR WHERE name = ?", (name,))
  data=cursor.fetchall()
  if len(data)==0:
    print('There is no component named %s'%name)
  else:
    print('Component %s found with rowids %s'%(name,','.join(map(str, next(zip(*data))))))

enter name: rajesh

NameError: ignored

In [ ]:
def HR_view():
  db=sqlite3.connect("HR_database.db")
  name=input('Enter Employee name:')
  result=db.execute('SELECT Name,Age,Gender,Experience,Tool_exp,remarks FROM HR WHERE name ="{}"'.format(name) )
  a=[]
  for x in result:
    a.append(x)
    df=pd.DataFrame(a)
  
  print(df)
    
HR_view()

Enter Employee name:rajesh

OperationalError: ignored

In [ ]:
view

NameError: ignored

In [ ]:
class employee():

  def __init__(self,fname,lname,salary):
    self.first_name=fname
    self.last_name=lname
    self.salary=int(salary)
    
  
  def incr(self,salary_raise):
    self.salary=int(self.salary*salary_raise)
  
Rajesh=employee("Rajesh","Kumar","5000")
abhi=employee("Abhi","shek","3000")

print('Rajesh Initial Salary: {}'.format(Rajesh.salary))
Rajesh.incr(2)
print('Rajesh Incremented salary : {}'.format(Rajesh.salary))
print('Abhi Initial Salary: {}'.format(abhi.salary))
abhi.incr(3)
print('Abhi Incremented salary : {}'.format(abhi.salary))

Rajesh Initial Salary: 5000
Rajesh Incremented salary : 10000
Abhi Initial Salary: 3000
Abhi Incremented salary : 9000

In [ ]:
class employee():
  salary_incr=2.5
  def __init__(self,fname,lname,salary):
    self.first_name=fname
    self.last_name=lname
    self.salary=int(salary)
  
  def incr(self):
    self.salary=int(self.salary*employee.salary_incr)
  
rajesh=employee('rajesh','kumar','4000')
james=employee('james','langstone','5000')

print('Rajesh initial salary {}'.format(rajesh.salary))
rajesh.incr()
print('Rajesh incremented salary {}'.format(rajesh.salary))

print('James initial salary {}'.format(james.salary))
james.incr()
print('James Incremented salary {}'.format(james.salary))

Rajesh initial salary 4000
Rajesh incremented salary 10000
James initial salary 5000
James Incremented salary 12500

In [ ]:
class employee():

  salary_incr=1.5
  def __init__(self,fname,lname,salary):
    self.firstname=fname
    self.lastname=lname
    self.salary=int(salary)

  def increase(self):
    self.salary=int(self.salary*employee.salary_incr)
  
  @classmethod
  def incre(cls,increment):
    cls.salary_incr=increment
  
Raj=employee('rajesh','kumar','1000')
Ram=employee('Ram','Kumar','2000')
Shaym=employee('shayam','kumar','3000')

print('Raj initial salary: {}'.format(Raj.salary))
Raj.increase()
print('raj incremented salary {}'.format(Raj.salary))
print('Ram initial salary {}'.format(Ram.salary))
Ram.incre(2)
Ram.increase()
print('Ram Incremented salary {}'.format(Ram.salary))
print('Shaym Initial salary {}'.format(Shaym.salary))
Shaym.incre(3)
Shaym.increase()
print('Shaym Incremented salary {}'.format(Shaym.salary))

Raj initial salary: 1000
raj incremented salary 1500
Ram initial salary 2000
Ram Incremented salary 4000
Shaym Initial salary 3000
Shaym Incremented salary 9000

In [ ]:
class employee():

  salary_incr=1.5
  def __init__(self,fname,lname,salary):
    self.firstname=fname
    self.lastname=lname
    self.salary=int(salary)
  
  def increase(self):
    self.salary=int(self.salary*employee.salary_incr)
  
  @classmethod
  def change(cls,emp_details):
    fname,lname,salary=emp_details.split("_")
    return cls(fname,lname,salary)

Raj=employee.change("Rajesh_kumar_1000")
Ram=employee.change("Ram_Kumar_2000")

print('Name:{}'.format(Raj.fname))
print('Name:{}'.format(Ram.fname))

AttributeError: ignored

In [ ]:
view

NameError: ignored