<a href="https://colab.research.google.com/github/mayanrajesh/Programming_MS/blob/main/4_1_2021(oops_class).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#WAP which shows inheritance(parent class and student(child) class). class employee and child 2 child one
#one is Data Analyst and Machine Learning expert .
#From parent class you need to initialise fname,second name,empid 
#In Data Analyst ,you have to write one function
#in Machine expert , one function.
#call those function.


class employee():

  
  def __init__(self,fname,sname,empid):
    self.fname=fname
    self.sname=sname
    self.empid=empid

class Data_Analyst(employee):
  def __init__(self,fname,sname,empid,exp):
    super().__init__(fname,sname,empid)
    self.exp=exp

class Machine_Expert(employee):
  def __init__(self,fname,sname,empid,salary):
    super().__init__(fname,sname,empid)
    self.salary=int(salary)

rajesh=Data_Analyst("rajesh","kumar","10550250","python")
print(rajesh.fname)
print(rajesh.exp)

rajesh_k=Machine_Expert("rajesh","kumar","10550250","5000")
print(rajesh_k.salary)

rajesh
python
5000

In [ ]:
#WAC whcich will add two name of two diff objectusing magic function

class employee():
  def __init__(self,fname):
    self.fname=fname

  def __add__(self,lname):
    return(self.fname+lname.fname)
raj=employee("rajesh")
rajesh=employee("Kumar")

print(raj+rajesh)

rajeshKumar

In [ ]:
#WAC which change the maling address and postal address using the property tag.

class worker():
  def __init__(self,fname,lname,postal):
    self.fname=fname
    self.lname=lname
    self.postal=postal

  @property
  def email(self):
    return self.fname+self.lname +"@gmail.com"
  
  @property
  def Address(self):
    return self.fname+self.lname +" "+ "postal code:"+self.postal

if __name__=="__main__":
  rajesh=worker("rajesh","kumar","12345")
  print(rajesh.email)

  rajesh.lname="sinha"
  print(rajesh.email)
  print(rajesh.Address)

rajeshkumar@gmail.com
rajeshsinha@gmail.com
rajeshsinha postal code:12345

In [ ]:
#WAP to change the postal address by using setter
class home():
  def __init__(self,street,city,state):
    self.street=street
    self.city=city
    self.state=state
  
  @property
  def address(self):
    return self.street +" "+ self.city +" "+ self.state
  
  @address.setter
  def address(self,address):
    fulladdress=address.split("/")
    self.street=fulladdress[0]
    self.city=fulladdress[1]
    self.state=fulladdress[2]
  

if __name__=="__main__":
  rajesh=home("richmond","dublin","ireland")
  print(rajesh.address)
  rajesh.address="26/cork/ireland"
  print(rajesh.address)

richmond dublin ireland
26 cork ireland