<a href="https://colab.research.google.com/github/mayanrajesh/Programming_MS/blob/main/handson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

In [1]:
marks=[50,60,70,90,60]

In [2]:
marks[0]="rajesh"

In [3]:
print(marks)

['rajesh', 60, 70, 90, 60]

# list operation
##Append ,pop,remove,extend

In [5]:
marks.append("kumar")
print(marks)

['rajesh', 60, 70, 90, 60, 'kumar', 'kumar']

In [19]:
hight=[132,140,150,155,4]

In [20]:
hight.pop(4) #pop remove the value from index

4

In [21]:
print(hight)

[132, 140, 150, 155]

In [ ]:
print(hight)

In [22]:
hight.remove(140)
print(hight)

[132, 150, 155]

In [23]:
marks.extend(hight)
print(hight)

[132, 150, 155]

In [24]:
print(marks)

['rajesh', 60, 70, 90, 60, 'kumar', 'kumar', 132, 150, 155]

In [26]:
name="rajesh Kumar"
short=name[0:4]
print(short)

raje

In [27]:
short_list=marks[0:4]
print(short_list)

['rajesh', 60, 70, 90]

In [28]:
#sliceing 
name="Raje"
name1=["R","a","j","e"]

slice1=name[0:2]
slice2=name1[0:2]
print(slice1)
print(slice2)

Ra
['R', 'a']

In [30]:
#length
marks2=[10,20,30,40]
print(len(marks2))

4

In [32]:
#tuple needs one dit and comma to identify the tuple
A=("A") #will show the datatype is string
print(type(A))
B=("B",) #will display datatype tuple
print(type(B))

<class 'str'>
<class 'tuple'>

In [34]:
#dictinory
phone_no={"rajesh":1234556,"kumar":2344556}
print(phone_no["rajesh"])

1234556

In [ ]:
print(phone_no.items)

In [36]:
#prepare a dict of phone number and try to print a number of the serach queary 

phone_number={"rajesh":123456,"kumar":567890,"raj":4563414,"ram":78873853,"prabht":352452,"mohan":886384,"raman":978344,"rohan":8876324,"rodshan":864347}
query="rajesh"
value=phone_number[query]
print("query for your search {",query,"} and phone number is :",value)

query for your search { rajesh } and phone number is : 123456

#Boolean operation

In [37]:
5<6

True

In [38]:
6>5

True

In [40]:
result=5+(5>6)
result

5

In [42]:
result1=5+(5<6)
result1

6

#function
##defintation

In [48]:
def avg():
  A=50
  B=60
  print("the avg of {} and {} is {}".format(A,B, (A+B)/2))

avg()

the avg of 50 and 60 is 55.0

In [53]:
def name():
  first_name="Rajesh"
  last_name="kumar"
  print("My FullName is: {}".format(first_name +' '+ last_name))
name()

My FullName is Rajesh kumar

##Exercise generate nickname

In [67]:
def nickname_generator():
  first_name="Rajesh"
  last_name="kumar"
  fullname= first_name+' '+last_name
  nickname=fullname[0:3]
  print("The nick name of {} could be {} .".format(fullname,nickname))

nickname_generator()

The nick name of Rajesh kumar could be Raj .

#Exercise annual income
##WAF to calculate the monthly salary and Tax. The formal parameter will be annual salary . TAx slab is 32000 20% beyond 32000 till 60000 is 40% and beyond 60000 is 60%

In [74]:
#with ifelse statement
def monthly_income(annual_salary):
  
  if annual_salary <=32000:
    monthly_salary = annual_salary/12
    annual_tax = (annual_salary * 20)/100
    print("Annual Salary is : {}".format(annual_salary))
    print("Annual Tax of the salary is : {}".format(annual_tax))
    print("Monthly Salary is : {}".format(monthly_salary))
    print("monthly tax of salary is :{}".format(annual_tax/12))
  elif annual_salary >32000 <= 60000 :
    annual_tax = (annual_salary*40)/100
    monthly_salary = annual_salary/12
    annual_tax = (annual_salary * 40)/100
    print("Annual Salary is : {}".format(annual_salary))
    print("Annual Tax of the salary is : {}".format(annual_tax))
    print("Monthly Salary is : {}".format(monthly_salary))
    print("monthly tax of salary is :{}".format(annual_tax/12))
  else :
    annual_tax = (annual_salary*60)/100
    monthly_salary = annual_salary/12
    annual_tax = (annual_salary * 60)/100
    print("Annual Salary is : {}".format(annual_salary))
    print("Annual Tax of the salary is : {}".format(annual_tax))
    print("Monthly Salary is : {}".format(monthly_salary))
    print("monthly tax of salary is :{}".format(annual_tax/12))

monthly_income(60000)

Annual Salary is : 60000
Annual Tax of the salary is : 24000.0
Monthly Salary is : 5000.0
monthly tax of salary is :2000.0

In [76]:
def monthly_income(annual_sal):
  monthly_sal = annual_sal/12
  sal = annual_sal<32000
  print("Annual Salary is : {}".format(annual_sal))
  print("Annual Tax of the salary is : {}".format(annual_sal/12))
  print("Monthly Salary is : {}".format(monthly_salary))
  print("monthly tax of salary is :{}".format(annual_tax/12))
  print(sal)

monthly_income (18000)

True