<a href="https://colab.research.google.com/github/mayanrajesh/Programming_MS/blob/main/Revision_test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Question1:Given two list, crate a third list by picking an odd-index element from the first list and even index element from second list

In [ ]:
#1
def listsep():
  evenlist=[]
  oddlist=[]
  listone=[3,6,9,12,15,18,21]
  listtwo=[4,8,12,16,20,24,28]
  for i in range(len(listone)):
    if i%2 == 1:
      oddlist.append(listone[i])
  for j in range(len(listtwo)):
    if j%2==0:
      evenlist.append(listtwo[j])
  
  print("Element at add-index positions from listone\n",oddlist)
  print("Element at even-index positions from listone\n",evenlist)
  print("printing Final third list\n",oddlist+evenlist)
listsep()

Element at add-index positions from listone
 [6, 12, 18]
Element at even-index positions from listone
 [4, 12, 20, 28]
printing Final third list
 [6, 12, 18, 4, 12, 20, 28]

##Question2: Given an input list removes the element at index 4 and add it to the 2nd position and also at the end of the list

In [ ]:
#2
listname=[34,54,67,89,11,43,94]
print("Original list ",listname)
a=listname.pop(4)
print("List After removing element at index4 ",listname)
b=listname.insert(2,a)
print("List after adding element at index 2",listname)
c=listname.insert(len(listname),a)
print("list after adding element at the last index ",listname)

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index4  [34, 54, 67, 89, 43, 94]
List after adding element at index 2 [34, 54, 11, 67, 89, 43, 94]
list after adding element at the last index  [34, 54, 11, 67, 89, 43, 94, 11]

##Question3: G`iven a list slice it into 3 equal chunks and reverse each list

In [ ]:
#3
l=[11,45,8,23,14,12,78,45,89]
print("Original list",l)
for i in range(0,len(l),3):
  x=i
  a=l[x:x+3]
  print ("chunk ",a)
  reversed_list = a[::-1]
  print("After reverse ",reversed_list)

Original list [11, 45, 8, 23, 14, 12, 78, 45, 89]
chunk  [11, 45, 8]
After reverse  [8, 45, 11]
chunk  [23, 14, 12]
After reverse  [12, 14, 23]
chunk  [78, 45, 89]
After reverse  [89, 45, 78]

##Question4: Given a list iterate it and count the occurance of each element and create a dictionary to show the count of each element.

In [ ]:
#4
l=[11,45,8,11,23,45,23,45,89]
cnt={}
print("Original list:",l)
for x in l:
  a=l.count(x)
  cnt[x]=a
print("printing count of each items: ",cnt)

Original list: [11, 45, 8, 11, 23, 45, 23, 45, 89]
printing count of each items:  {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

#Question6: Given a following two sets find the interection and remove those elements from first set.

In [ ]:
#6
first_set={65,42,78,83,23,57,29}
second_set={67,73,43,48,83,57,29}
a=second_set.intersection(first_set)
print("Intersection:", a)
for x in a:
  first_set.remove(x)
print("Fiest set after removing common element: ",first_set)

Intersection: {57, 83, 29}
Fiest set after removing common element:  {65, 42, 78, 23}

##Question7: given two sets, checks if One set is subset or superset of another set. if the subset is found delete all the elements from that set.

In [ ]:
#7
a={27,43,34}
b={34,93,22,27,43,53,48}
if a.issubset(b)==True:
  print("first set is subset of second set:{}".format(a.issubset(b)))
  print("first set is super of second set:{}".format(a.issuperset(b)))
  a.clear()
if b.issubset(a)==True:
  print("first set is subset of second set:{}".format(b.issubset(a)))
  print("first set is super of second set:{}".format(b.issuperset(a)))
  b.clear()
print("first set: ",a)
print("second set:",b)

first set is subset of second set:True
first set is super of second set:False
first set:  set()
second set: {34, 43, 48, 53, 22, 27, 93}

##Question8: Iterate a given list and check if a given element already exist in a dictionary as a key's value if not delete it from the list.

In [ ]:
#8
rollnumber=[47,64,69,37,76,83,95,97]
sampleDict={'john':47,'Emma':69,'Kelly':76,'jason':97}
for x in rollnumber:
  if x in sampleDict.values():
    pass
  else:
    rollnumber.remove(x)
print("Original List",rollnumber)
print("After removing unwanted value from the list",rollnumber)

Original List [47, 69, 76, 95, 97]
After removing unwanted value from the list [47, 69, 76, 95, 97]