<a href="https://colab.research.google.com/github/mayanrajesh/Programming_MS/blob/main/week3_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#traditonla programming and python
##traditional programming:
###declaration
public int info1()
###definition
Public int info()
{
  A+B
}
##calling
By creating its object
info()


##python programming:

###No declaration
### Definition
Def func_name():
a+b

###calling
func_name()

In [2]:
def incometax(salary):
  tax = (salary * 40)/100
  print("tax in the salray {} is {}".format(salary,tax))

incometax(32000)

tax in the salray 32000 is 12800.0

In [3]:
def incometax():
  salary=int(input("enter the annual salary"))
  tax = (salary * 40)/100
  print("tax in the salray {} is {}".format(salary,tax))

incometax()

enter the annual salary32000
tax in the salray 32000 is 12800.0

##Lamda : allows us to create function in easy way.

In [4]:
sum11=lambda a,b,c:a+b+c
sum11(5,6,7)

18

In [5]:
income_tax = lambda salary:(salary*40)/100
income_tax(32000)

12800.0

#Range Function
range(start_position,end_position,interval)

In [ ]:
A=[5,6,7,8,9]
for x in range(0,5,2)

In [9]:
#using while loop
def fibonacci(n):
   c = 0
   a = 0
   b = 1
   sum = 0
 
   while c < n:
      print(a)
      sum = a + b
      a = b
      b = sum
      c = c + 1


fibonacci(10)

0
1
1
2
3
5
8
13
21
34

In [8]:
#using range function:
def fibonacci(n):
   c = 0
   a = 0
   b = 1
   sum = 0
   for c in range(n):
      print(a)
      sum = a + b
      a = b
      b = sum
      c = c + 1


fibonacci(10)

0
1
1
2
3
5
8
13
21
34

#File I/O System
*File system was one of the complex system in programming languages in traditiona programmning language but in python its easy to use.*

easiest way to use:
### "w" means write in the file but will overright the existing .
* w+ uses additional keywords
* wb uses when using binary files/digits/numbers
### "a" will append the content in the file.
* a+ uses additional keywords
* ab uses when using binary files/digits/numbers
### "r" will read from the file 
* r+ uses additional keywords
* rb uses when using binary files/digits/numbers


with open ("filename.csv","w") as f:

In [10]:
with open("Intro.txt","w") as f:
  f.write("My name is Rajesh , I am pursuing the MS in Data Analytics.")

In [11]:
with open ("Intro.txt","a") as f:
  f.write("\n I live in Dublin Ireland")

In [ ]:
#one method to open the file
with open("Intro.txt","r") as f:
  data=f.read()

In [12]:
f= open("Intro.txt","r")
print(f.read())
f.close() #its mandatroy to close if using only open command

My name is Rajesh , I am pursuing the MS in Data Analytics.
 I live in Dublin Ireland

#WAF that will asked you to input your life biography in the text file which is limited to either 20 lines or 100 words.If limit is exdeeded then your program may indicate how many extra words or line you have.

In [22]:

a= input("enter your biography here:")
length = len(a.split(" "))
print("word limit is :".format(length))


limit= 100-length
if limit ==0:
  with open("Biography.txt","w+") as f:
    f.write(a)
elif limit>0:
  print("{} word is remaning ".format(limit))
else:
  print("{} word is more , please limit the word as per the guidlines.".format(limit))

enter your biography here:asc
word limit is :
99 word is remaning

In [28]:
with open("Biography.txt","r+") as f:
  word=f.read()
  count= len(word.split(" "))
  print("word limit is : 100 words")
  
if 
a= input("enter your biography here:")
length = len(a.split(" "))
print("word limit is : 100 words")

limit= 100-length
if limit ==0:
  with open("Biography.txt","w+") as f:
    f.write(a)
elif limit >0:
  a= input("continiue entering your biography here:")
  with open("Biography.txt","a+") as f:
    f.write(a)
  with open("Biography.txt","r+") as f:
    word=f.read()
    count= len(word.split(" "))
    print(count)
else:
  print("{} word is more , please limit the word as per the guidlines.".format(limit))

enter your biography here:The theory was advanced in part because of lack of archaeological evidence for large-scale Celtic immigration, though it is accepted that such movements are notoriously difficult to identify. Historical linguists are skeptical that this method alone could account for the absorption of Celtic language, with some saying that an assumed processional view of Celtic linguistic formation is 'an especially hazardous exercise
word limit is : 100 words
continiue entering your biography here:The theory was advanced in part because of lack of archaeological evidence for large-scale Celtic immigration, though it is accepted that such movements are notoriously difficult to identify. Historical linguists are skeptical that this method alone could account for the absorption of Celtic language, with some saying that an assumed processional view of Celtic linguistic formation is 'an especially hazardous exercise
181

In [41]:
for num in range(2,7 +1):
  if num> 1:
    for i in range (2,num):
      if(num % i) == 0:
        break
      else:
        print(num)

3
5
5
5
7
7
7
7
7